<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    <!--<iisnode watchedFiles="web.config;*.js"/>-->
  </system.webServer>
</configuration>