
@font-face {
    font-family: 'helveticaregular';
    src: url('helvetica_regular-webfont.woff2') format('woff2'),
         url('helvetica_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}