.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  padding-top: 80px;
  background-color: #0f0f11;
  font-family: Inter;
  color: #dadada;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 800;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 56px;
  line-height: 1.2;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 42px;
  line-height: 1.3;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 34px;
  line-height: 1.3;
  font-weight: 600;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

p {
  margin-bottom: 10px;
}

a {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #dadada;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #13cc78;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 0px;
  list-style-type: none;
}

li {
  margin-bottom: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  overflow: visible;
  margin: 20px auto;
  padding: 20px 0px 20px 50px;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  background-image: url('../images/quote-ico.svg');
  background-position: 5px 16px;
  background-size: 37px;
  background-repeat: no-repeat;
  font-size: 28px;
  line-height: 1.2;
  font-style: italic;
  font-weight: 200;
}

figure {
  margin-top: 20px;
  margin-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  color: #a6a6a6;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.fixed-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  height: 80px;
  background-color: #0f0e11;
  opacity: 1;
}

.nav-logo {
  height: 100%;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-link.w--current {
  font-weight: 700;
}

.footer {
  margin-top: auto;
  padding: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Agan 45', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: left;
}

.taxi {
  border: 0px none transparent;
  border-radius: 0px;
  background-image: none;
  background-clip: border-box;
}

.container {
  position: relative;
  display: block;
  overflow: auto;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 20px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 0px solid transparent;
  background-color: transparent;
  opacity: 1;
  color: transparent;
  text-align: center;
  -o-object-fit: none;
  object-fit: none;
}

.container.no-padding-bottom {
  padding-bottom: 0rem;
}

.hero-text {
  margin-top: 10px;
  border: 1px solid transparent;
  font-family: 'Agan 65', sans-serif;
  font-size: 54px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  text-shadow: 1px 1px 6px #000;
}

.section-hero {
  position: relative;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.content.centered {
  display: block;
  overflow: visible;
  max-height: 100px;
  max-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #fff;
}

.link {
  position: relative;
  overflow: hidden;
  margin-right: 5px;
  padding-bottom: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-decoration: none;
}

.link:hover {
  background-color: transparent;
  text-decoration: none;
}

.link.social-link {
  margin-left: 10px;
  color: #878d95;
  font-weight: 600;
}

.link-underline {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0px;
  background-color: #fdfffc;
}

.link-underline:hover {
  display: block;
  background-color: #ff4c31;
  color: #ff4c31;
}

.link-underline:active {
  background-color: #ff4c31;
  color: #fff;
}

.link-underline:focus {
  background-color: #ff4c31;
}

.link-underline.grey {
  background-color: #878d95;
}

.project-item {
  position: relative;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  text-decoration: none;
}

.project-item:hover {
  text-decoration: none;
}

.space {
  height: 6rem;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.grey {
  color: #cecece;
}

.brand {
  z-index: 2;
  width: 140px;
  margin-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.menu-button {
  z-index: 2;
}

.footer-flex-first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project-item-style-2 {
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-right: 160px;
  padding-bottom: 60px;
  border-bottom: 5px solid #fff;
  text-decoration: none;
}

.project-item-style-2:hover {
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  min-height: 60vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 40vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.post-item {
  padding-bottom: 0px;
}

.post-item:hover {
  text-decoration: none;
}

.form-input {
  height: 54px;
  min-width: 350px;
  margin-right: 20px;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #38414b;
  border-radius: 5px;
  background-color: #191b1e;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #fff;
  font-size: 18px;
}

.form-input:focus {
  border-color: #868f97;
}

.form-input::-webkit-input-placeholder {
  color: #868f97;
  font-weight: 300;
}

.form-input:-ms-input-placeholder {
  color: #868f97;
  font-weight: 300;
}

.form-input::-ms-input-placeholder {
  color: #868f97;
  font-weight: 300;
}

.form-input::placeholder {
  color: #868f97;
  font-weight: 300;
}

.form-input.margin-bottom-10 {
  margin-bottom: 10px;
}

.hero-text-gradient {
  border-radius: 0px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(42%, transparent), color-stop(53%, #fff), color-stop(56%, #83d7bd), color-stop(81%, #3b8bf5)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(90deg, transparent 42%, #fff 53%, #83d7bd 56%, #3b8bf5 81%), linear-gradient(180deg, #fff, #fff);
  font-family: 'Agan 45', sans-serif;
  color: #304d3f;
  font-size: 54px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-logo-link {
  max-width: 130px;
  margin-bottom: 20px;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Agan 55', sans-serif;
  color: #fdfffc;
}

.grey-text {
  font-family: 'Agan 45', sans-serif;
  color: #fdfffc;
  font-weight: 400;
}

.footer-flex-content {
  max-width: 150px;
  min-width: 17%;
}

.gradient-line {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(103deg, #a0fbcd -3%, #6b81fa 39%, #3b8bf5);
}

.nav-gradient-container {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.nav-cta-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.button {
  position: relative;
  display: block;
  width: 200px;
  height: 54px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 17px 35px 15px;
  float: none;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #fdfffc;
  -webkit-transition: background-color 200ms ease, opacity 200ms ease;
  transition: background-color 200ms ease, opacity 200ms ease;
  font-family: 'Agan 65', sans-serif;
  color: #0f0e11;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-clip: border-box;
  cursor: none;
}

.button:hover {
  background-color: #ff4c31;
  color: #fff;
  text-decoration: none;
}

.button.button-large {
  width: 250px;
}

.button-icon {
  margin-left: 5px;
}

.space-x-small {
  height: 3rem;
}

.card-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 30px 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 18px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222529), to(#222529));
  background-image: linear-gradient(180deg, #222529, #222529);
  box-shadow: inset 0 0 0 2px #2b333d;
  font-weight: 500;
}

.card-item:hover {
  text-decoration: none;
}

.card-item.fadein-into-view {
  padding-top: 30px;
}

.card-item.fadein-into-view.change-color {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: block;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 0px;
  background-image: linear-gradient(132deg, #83d7bd, #6b81fa);
  opacity: 0.37;
}

.card-item-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.job-position-content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 1fr 1fr 0.25fr;
  grid-template-columns: 2fr 1fr 1fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.job-position-text {
  font-weight: 400;
}

.job-position-text.no-margin {
  font-size: 28px;
}

.flexbox-last-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.no-margin {
  margin: 0px;
  font-family: 'Agan 45', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.text-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none transparent;
  font-family: 'Agan 45', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.text-center.text-black {
  color: #0f0e11;
}

.small-container {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.customers-panel {
  padding-top: 30px;
  padding-bottom: 60px;
}

.text-holder {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tab-link {
  overflow: hidden;
  height: 100px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 80px;
  background-color: transparent;
  -webkit-transition: height 200ms ease, color 200ms ease;
  transition: height 200ms ease, color 200ms ease;
  text-decoration: none;
}

.tab-link:hover {
  text-decoration: none;
}

.tab-link.w--current {
  position: relative;
  height: 100px;
  background-color: transparent;
}

.tab-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Agan 45', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.text-container {
  max-width: 50%;
  padding-bottom: 40px;
  border: 1px solid transparent;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 30;
  display: none;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0f0f11;
}

.preloader-content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.preloader-line {
  position: absolute;
  left: 0%;
  top: 80px;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.preloader-gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 30%;
  height: 100%;
  background-color: transparent;
}

.card-item-gradient-active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  background-image: linear-gradient(132deg, #55aeaa, #6b81fa);
  opacity: 1;
}

.slide {
  width: 100%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  cursor: default;
}

.text-regular {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid transparent;
  font-family: 'Agan 45', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.text-regular.text-error {
  background-color: transparent;
  color: red;
}

.nav-dropdown-icon {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-right: 10px;
}

.nav-dropdown-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 58px;
  margin-bottom: 0px;
  padding: 16px 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #fff;
}

.nav-dropdown-link:hover {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.nav-dropdown-link.w--current {
  margin-bottom: 0px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
}

.nav-dropdown-link.w--current:hover {
  border-radius: 0px;
}

.nav-dropdown-link.last {
  margin-bottom: 10px;
}

.nav-dropdown-image {
  position: relative;
  z-index: 1;
  width: 58px;
  height: auto;
  max-width: none;
  margin-right: 20px;
}

.dropdown-nav-item-title {
  width: 100%;
  padding-bottom: 2px;
}

.feature-image-container {
  position: relative;
}

.image-100 {
  width: 80%;
  height: 80%;
  max-height: 80%;
  max-width: 80%;
  margin-top: 0px;
}

.section-features-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.image-anim-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 40vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 10px;
}

.team-item {
  width: 100%;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.team-item:hover {
  text-decoration: none;
}

.job-position-container {
  margin-bottom: 15px;
}

.social-icon-holder {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 41px;
  height: 41px;
  margin-right: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 41px;
  background-color: #333334;
}

.marina {
  border: 0px none transparent;
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
}

.tdex-cli {
  background-image: none;
}

.body {
  background-color: #0f0e11;
  cursor: ew-resize;
}

.partners {
  border: 1px solid transparent;
  background-image: none;
}

.heading {
  font-family: 'Agan 45', sans-serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
}

.paragraph {
  font-family: 'Agan 45', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.heading-4 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #fdfffc;
  font-family: 'Agan 45', sans-serif;
  color: #0f0e11;
  font-size: 26px;
  text-align: center;
}

.column {
  display: block;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.space-medium {
  height: 12rem;
}

.section {
  padding-right: 220px;
  padding-left: 220px;
}

.list-with-3-rows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.two-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image-holder {
  width: auto;
  height: auto;
  padding-right: 40px;
}

.list-item-with-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  -webkit-transition: height 200ms ease, color 200ms ease;
  transition: height 200ms ease, color 200ms ease;
  text-align: left;
  text-decoration: none;
}

.list-item-with-image:hover {
  text-decoration: none;
}

.list-item-with-image.w--current {
  position: relative;
  height: 100px;
  background-color: transparent;
}

.image-107 {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #fdfffc;
}

.image-108 {
  width: 50px;
  height: 50px;
}

.image-109 {
  width: 50px;
  height: 50px;
}

.image-110 {
  width: 50px;
  height: 50px;
}

.image-111 {
  width: 50px;
  height: 50px;
}

.image-112 {
  width: 50px;
  height: 50px;
}

.button-auto {
  position: relative;
  display: block;
  width: auto;
  height: 54px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 17px 35px 15px;
  float: none;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #fdfffc;
  -webkit-transition: background-color 200ms ease, opacity 200ms ease;
  transition: background-color 200ms ease, opacity 200ms ease;
  font-family: 'Agan 65', sans-serif;
  color: #0f0e11;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-clip: border-box;
  cursor: none;
}

.button-auto:hover {
  background-color: #ff4c31;
  color: #fdfffc;
  text-decoration: none;
}

.image-113 {
  width: 200px;
  height: 200px;
}

.grid-8 {
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.image-70 {
  width: 70%;
}

.list-long {
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.list-item-long-with-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  -webkit-transition: height 200ms ease, color 200ms ease;
  transition: height 200ms ease, color 200ms ease;
  text-align: left;
  text-decoration: none;
}

.list-item-long-with-image:hover {
  text-decoration: none;
}

.list-item-long-with-image.w--current {
  position: relative;
  height: 100px;
  background-color: transparent;
}

.image-25 {
  width: 25px;
  height: 25px;
}

.image-116 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column-3 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button-2 {
  height: 54px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 17px 35px 15px;
  border-radius: 100px;
  background-color: #13cc78;
  -webkit-transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease;
  color: #0f0f11;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.button-2:hover {
  background-color: #3ada91;
  color: #0f0f11;
  text-decoration: none;
}

.button-2.grey {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.button-2.grey:hover {
  background-color: #13cc78;
}

.button-2.grey.small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 12px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Agan 45', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button-2.grey.small:hover {
  background-color: #ff4c31;
}

.container-2 {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 20px;
}

.container-2.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.image-118 {
  opacity: 0.85;
}

.herotextgradiantblack {
  font-family: 'Agan 45', sans-serif;
  color: #0f0e11;
  font-size: 54px;
}

.section-hero-solutions {
  position: relative;
  background-image: url('../images/andrew-gook-180723-unsplash.jpg');
  background-position: 0px -150px;
  background-size: cover;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.custody {
  border: 0px none transparent;
  border-radius: 0px;
  background-color: transparent;
}

.tailored-solutions {
  padding-right: 220px;
  padding-left: 220px;
  background-image: url('../images/fabio-ballasina-385482-unsplash.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.section-hero-home {
  position: relative;
  height: auto;
  background-image: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.image-119 {
  opacity: 0.8;
}

.section-feature {
  border: 0px none transparent;
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
}

.nav-dropdown-list-2 {
  width: 345px;
  border-radius: 9px;
  background-color: #1c2328;
}

.nav-dropdown-list-2.w--open {
  width: 390px;
  padding: 10px 0px 0px;
}

.nav-link-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.nav-link-2:hover {
  text-decoration: none;
}

.nav-link-2.w--current {
  font-weight: 700;
}

.nav-link-2.nav-item-dropdown {
  height: 100%;
  padding-right: 35px;
}

.nav-menu-2 {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.gradient-line-2 {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(103deg, #f85d7f, #6b81fa 50%, #a0fbcd 103%);
}

.gradient-line-2.thin {
  height: 1px;
  background-image: linear-gradient(103deg, #a0fbcd 6%, #6b81fa 77%, #3b8bf5);
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  font-family: 'Agan 45', sans-serif;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-2 {
  padding-right: 140px;
  padding-left: 140px;
}

.text-center-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none transparent;
  font-family: 'Agan 45', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

.space-small {
  height: 8rem;
}

.error-message-2 {
  clear: none;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  background-color: transparent;
}

.success-message-2 {
  background-color: transparent;
}

.image-121 {
  width: 300px;
  height: auto;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    border-radius: 0px;
    background-color: transparent;
    opacity: 1;
    background-clip: border-box;
  }

  .hero-text {
    font-size: 54px;
  }

  .card-item.fadein-into-view.change-color {
    width: auto;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
  }

  .card-item.fadein-into-view.change-color:active {
    background-image: none;
  }

  .card {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card-item-content {
    width: auto;
  }

  .tdex-cli {
    background-image: none;
  }

  .body {
    background-color: #0f0e11;
  }

  .container-2 {
    max-width: 1280px;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 40px;
  }

  figure {
    margin-top: 20px;
  }

  .container {
    max-width: 1440px;
  }

  .hero-text {
    font-size: 54px;
  }

  .content.centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .link-underline {
    display: block;
    overflow: visible;
    background-color: transparent;
  }

  .link-underline:hover {
    display: block;
    background-color: #ff4c31;
    color: #ff4c31;
  }

  .form-input {
    max-width: none;
    min-width: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    border-radius: 100px;
    font-family: 'Agan 45', sans-serif;
  }

  .job-position-content {
    font-family: 'Agan 45', sans-serif;
  }

  .text-center {
    padding-right: 0px;
    padding-left: 10px;
  }

  .body {
    background-color: #0f0e11;
  }

  .container-2 {
    max-width: 1440px;
  }

  .section-hero-solutions {
    background-image: url('../images/andrew-gook-180723-unsplash.jpg');
    background-position: 0px -250px;
    background-size: cover;
  }

  .section-hero-home {
    border-style: solid;
    border-width: 1px;
    border-color: #0f0e11;
  }

  .link-2 {
    position: -webkit-sticky;
    position: sticky;
    clear: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -o-object-fit: none;
    object-fit: none;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-center-hero {
    padding-right: 0px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 18px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-text {
    font-size: 54px;
  }

  .project-item {
    width: 100%;
    padding-right: 0px;
  }

  .menu-button {
    position: absolute;
    left: auto;
    top: 13px;
    right: 20px;
    bottom: auto;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 13px;
    border-radius: 5px;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }

  .menu-button.w--open {
    background-color: #222529;
  }

  .footer-flex-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project-item-style-2 {
    padding-right: 0px;
  }

  .utility-page-content {
    max-width: 50vw;
  }

  .hero-text-gradient {
    font-size: 54px;
  }

  .nav-cta-button {
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .card-item.fadein-into-view.change-color {
    display: block;
  }

  .small-container {
    max-width: 100%;
  }

  .tab-link {
    padding-right: 0px;
  }

  .tab-link.w--current {
    height: 160px;
  }

  .text-container {
    max-width: 70%;
  }

  .nav-dropdown-icon {
    margin-right: 30px;
  }

  .nav-dropdown-link {
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .nav-dropdown-link.w--current {
    padding-left: 10px;
  }

  .nav-dropdown-image {
    width: 14px;
  }

  .image-100 {
    margin-top: 40px;
  }

  .team-item {
    min-height: 300px;
  }

  .column {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .list-with-3-rows {
    width: 100%;
  }

  .two-columns {
    display: block;
  }

  .image-holder {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .list-item-with-image {
    padding-right: 0px;
  }

  .list-item-with-image.w--current {
    height: 160px;
  }

  .grid-8 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .image-70 {
    width: 100%;
  }

  .list-long {
    width: 100%;
  }

  .list-item-long-with-image {
    padding-right: 0px;
  }

  .list-item-long-with-image.w--current {
    height: 160px;
  }

  .columns-3 {
    display: block;
  }

  .container-2.nav-container {
    height: 80px;
  }

  .section-hero-solutions {
    background-position: 0px 0px;
  }

  .tailored-solutions {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-dropdown-list-2 {
    background-color: #222529;
  }

  .nav-dropdown-list-2.w--open {
    position: relative;
    width: 100%;
    padding: 10px;
  }

  .nav-link-2 {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 18px;
    text-align: left;
  }

  .nav-link-2.nav-item-dropdown {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-menu-2 {
    padding-bottom: 20px;
    background-color: #0f0f11;
  }

  .div-block-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 24px;
  }

  blockquote {
    font-size: 22px;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-text {
    margin-top: 0px;
    font-size: 54px;
  }

  .link.social-link {
    margin-top: 10px;
    margin-left: 0px;
  }

  .project-item {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .menu-button {
    line-height: 1;
  }

  .menu-button.w--open {
    color: #000;
  }

  .footer-flex-first {
    padding-right: 0px;
  }

  .utility-page-content {
    max-width: none;
  }

  .hero-text-gradient {
    font-size: 54px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .button {
    margin-bottom: 5px;
  }

  .card-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .card-item-content {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .job-position-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .small-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .tab-link {
    padding-left: 0px;
  }

  .tab-title {
    padding-left: 0px;
    text-align: center;
  }

  .text-container {
    max-width: 100%;
  }

  .nav-dropdown-icon {
    margin-right: 25px;
  }

  .image-100 {
    margin-top: 40px;
  }

  .team-item {
    min-height: auto;
  }

  .column {
    display: block;
  }

  .list-item-with-image {
    padding-left: 0px;
  }

  .button-auto {
    margin-bottom: 5px;
  }

  .image-70 {
    width: 100%;
  }

  .list-item-long-with-image {
    padding-left: 0px;
  }

  .columns-3 {
    display: block;
  }

  .button-2 {
    margin-bottom: 5px;
  }

  .nav-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
    font-weight: 500;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-weight: 400;
  }

  .fixed-nav {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer {
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-text {
    font-size: 54px;
  }

  .space {
    height: 6rem;
  }

  .form-input {
    width: 100%;
    min-width: auto;
    font-family: 'Agan 45', sans-serif;
  }

  .hero-text-gradient {
    font-size: 54px;
    font-weight: 400;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .space-x-small {
    height: 3rem;
  }

  .text-center.text-black {
    font-family: 'Agan 45', sans-serif;
  }

  .small-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .tab-link {
    height: 78px;
  }

  .tab-link.w--current {
    height: auto;
  }

  .tab-title {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .slide {
    padding-right: 5px;
    padding-left: 5px;
  }

  .text-regular {
    display: block;
    text-align: left;
  }

  .image-100 {
    width: 100%;
    margin-top: 40px;
  }

  .space-medium {
    height: 12rem;
  }

  .section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .two-columns {
    display: block;
  }

  .image-holder {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .list-item-with-image {
    height: 78px;
  }

  .list-item-with-image.w--current {
    height: auto;
  }

  .grid-8 {
    grid-template-columns: repeat(auto-fit, 45%) 45%;
    -ms-grid-rows: 1fr auto auto;
    grid-template-rows: 1fr auto auto;
  }

  .image-70 {
    width: 100%;
  }

  .list-item-long-with-image {
    display: block;
    height: 100%;
  }

  .list-item-long-with-image.w--current {
    height: auto;
  }

  .columns-3 {
    display: block;
  }

  .tailored-solutions {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form {
    display: block;
    width: auto;
  }

  .space-small {
    height: 12rem;
  }

  .image-120 {
    height: 200px;
  }
}

#w-node-31d241b004b5-f6f0efe9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-31d241b004b7-f6f0efe9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-31d241b004bb-f6f0efe9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-31d241b004bd-f6f0efe9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-31d241b004bf-f6f0efe9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-31d241b004c1-f6f0efe9 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@font-face {
  font-family: 'Agan 65';
  src: url('../fonts/agan-65.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agan 55';
  src: url('../fonts/agan-55.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agan 45';
  src: url('../fonts/agan-45.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}