//@import "./style_old.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "node_modules/vulpem-design-system/index.scss";
@import "./variables.scss";
@import "./lib/components/menu.scss";
@import "./lib/components/header.scss";
@import "./lib/components/post.scss";
@import "./lib/components/content.scss";
@import "./lib/components/footer.scss";

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

%left-line-shared {
  height: 0px;
  width: 99px;
  margin-right: 24px;
}

.left-line {
  @extend %left-line-shared;
  border: 1px solid #ffffff;
}

.main.white .masthead {
  color: $black;
}

.main.black .masthead {
  color: $white;
}

.main.black,
.main.black > .content,
.main > .content > .black {
  background-color: $black;
  color: $white;
}
.main.white,
.main.white > .content,
.main > .content > .white {
  background-color: $white;
  color: $black;
}

.main > .content.black {
  background-color: $black;
  color: $white;
}
.main > .content.white {
  background-color: $white;
  color: $black;
}


