@import "../../node_modules/bulma/bulma.sass";
@import "./lib/variables/typography.scss";
@import "./lib/variables/colors.scss";
@import "./lib/variables/spacing.scss";
@import "variables";
@import "./lib/texts";

@import "./lib/components/button.scss";
@import "lib/components/content";

@import "lib/components/navbar.scss";
@import "./lib/components/header.scss";
@import "./lib/components/info-section.scss";
@import "./lib/components/images-section.scss";
@import "./lib/components/products-list.scss";
@import "lib/components/footer";

body {
  margin: 0;
}
.container{
  max-width: 1440px;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.is-opacity{
  opacity: 0;
}

.color-white{
  color: $white;
}