//@import "./style_old.scss";
@import "./lib/variables/typography.scss";
@import "./lib/variables/colors.scss";
@import "./lib/variables/spacing.scss";
@import "variables";

@import "./lib/components/button.scss";
@import "./lib/components/top-section";
@import "lib/components/menu";
//@import "./lib/components/header.scss";
@import "lib/components/post";
@import "lib/components/content";
@import "lib/components/footer";

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

%left-line-shared {
  height: 0px;
  width: 99px;
  margin-right: 24px;
}

.left-line {
  @extend %left-line-shared;
  border: 1px solid #ffffff;
}

.main.white .masthead {
  color: $black;
}

.main.black .masthead {
  color: $white;
}

.main.black,
.main.black > .content,
.main > .content > .black {
  background-color: $black;
  color: $white;
}
.main.white,
.main.white > .content,
.main > .content > .white {
  background-color: $white;
  color: $black;
}

.main > .content.black {
  background-color: $black;
  color: $white;
}
.main > .content.white {
  background-color: $white;
  color: $black;
}


