@import "../../node_modules/bulma/bulma.sass";
@import "./lib/variables/typography.scss";
@import "./lib/variables/colors.scss";
@import "./lib/variables/spacing.scss";
@import "variables";
@import "./lib/texts";

@import "./lib/components/button.scss";
@import "lib/components/content";

@import "lib/components/navbar.scss";
@import "./lib/components/header.scss";
@import "./lib/components/info-section.scss";
@import "./lib/components/images-section.scss";
@import "./lib/components/products-list.scss";
@import "lib/components/footer";

html,body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}
.container{
  max-width: 1440px;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.is-opacity{
  opacity: 0;
}

.color-white{
  color: $white;
}

.background-black{
  background-color: $black;
}
.particles{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}